#categories__container {
    height: 80% !important;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(auto-fit, auto);
    justify-items: center;
    align-items: center;
}
#categories__generate {
    height: 250px;
    width: 200px;
    color: #FFF;
}
#category__update--component {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(3, 30%);
    row-gap: 1rem;
}
.category__delete--component {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(2, 50%);
    row-gap: 1rem;
}