#home {
    height: 80%;
    margin-top: 50px;
}
#events {
    justify-self: center;
    align-self: center;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(auto-fit, 50px);
    justify-items: center;
    height: 100%;
    width: 80%;
    row-gap: 10px;
    overflow-y: auto;
}
#categories__container {
    width: 100%;
    height: auto;
    display: grid;
}
#categories {
    justify-self: center;
    align-self: center;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(auto-fit, 50px);
    justify-items: center;
    height: 100%;
    width: 80%;
    row-gap: 10px;
    overflow-y: auto;
}
#categories h2 {
    justify-self: center;
}
#categories div {
    width: 100%;
    justify-self: center;
}
#teams {
    justify-self: center;
    align-self: center;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(auto-fit, 50px);
    justify-items: center;
    height: 80%;
    width: 80%;
    row-gap: 10px;
    overflow-y: auto;
}
#teams h2 {
    justify-self: center;
}
#teams div {
    width: 100%;
    justify-self: center;
}
#teams__container {
    width: 100%;
    height: 100%;
    display: grid;
}
#logout {
    cursor: pointer;
}
.container-fluid {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(2, 50%);    
    height: 100%;
}
.span {
    background: rgba(255, 255, 255, 0.24);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10.5px);
    -webkit-backdrop-filter: blur(10.5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    height: 100%;
    width: 80%;
    justify-self: center;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: auto;
    justify-items: center;
    align-items: center;
}
.home__image {
    height: 50px;
}
span {
    background: rgba(255, 255, 255, 0.24);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10.5px);
    -webkit-backdrop-filter: blur(10.5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    height: 100%;
    width: 80%;
    justify-self: center;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    justify-items: center;
    align-items: center;
}
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: darkgrey;
}

::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}