#teams__container {
    height: 90%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: 100%;
    justify-items: center;
    align-items: center;
}
form {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(auto-fit, auto);
    row-gap: 1rem;
}
button {
    justify-self: center;
}